		<!-- 	<div class="col-md-9" style="background-color: white; padding-top : 1.5cm;"> -->
			
<div class="col-md-9" style="background-color: white">
			
<div class="page-lead separated--bottom">
		<h1 class="flush">Profile</h1>
	</div>
	<div ng-app="customerHome" ng-controller="customerHomeCon">
	<form enctype="multipart/form-data">
				<div class="cf separated--bottom">
					<h2>General Information</h2>
				</div>
				<div class="form-grid form-grid--bordered" >
					<div class="grid" style="margin-top:20px">
						<div class="grid__item form-grid__item one-half palm-one-whole" >
							<div >
								<label for="profile-name" class="form-group__label" style="display:inline">Name</label>
								<div class="form-group__field" style="display:inline">
									<div class="grid" style="display:inline">
										<div class="grid__item one-half" style="display:inline;margin-left:75px">
											
											<input type="hidden" ng-init="profile.first_name='<%=result.c_firstname%>'">
											
											<input type="text" id="profile-name" name="first_name" ng-model="profile.first_name"
												value="Pranav"  class="text-input form-field--full" style="width: 280px; margin-right:30px" readonly>
										</div>
										<div class="grid__item one-half" style="display:inline">
											
											<input type="hidden" ng-init="profile.last_name='<%=result.c_lastname%>'">
											
											<input type="text" name="last_name" ng-model="profile.last_name" value="Masariya" style="width:310px;"
												class="text-input form-field--full" readonly>
										</div>
									</div>
								</div>
									
								
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="form-grid form-grid--bordered">
					<div class="grid">
						<div class="grid__item form-grid__item one-half palm-one-whole">
							<div id="profile-email-list" class="form-fields">
								<div id="profile-email-section-1"
									class="form-group form-group--inline form-fields__item">
									<label for="profile-email" class="form-group__label" style="display:inline" >Email
										Address</label>
									<div class="form-group__field" style="display:inline" >
										<div style="display:inline"  class="inline-group input-group">
											<div style="display:inline" class="inline-group__item inline-group__item--full">
											
											<input type="hidden" ng-init="profile.email='<%=result.c_emailid%>'">
											
												<input type="email" id="profile-email" name="email" style="width:280px;margin-right:10px" ng-model="profile.email" value="admin@gmail.com"
													class="text-input form-field--full" readonly>
											</div>
											
											<label for="profile-mobile-country" class="form-group__label" style="display:inline">Mobile</label>
											<div style="display:inline">
												<div class="soft--top" style="display:inline">
													
													<input type="hidden" ng-init="profile.mobile='<%=result.c_phone%>'">
													
													<input type="tel" name="mobile" value="6691238520" ng-model="profile.mobile" style="display:inline;margin-left:20px;width:260px"
														class="text-input form-field--full" readonly>
												</div>
											</div>
										</div>
								</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="form-grid form-grid--bordered">
					<div class="grid">
							<div class="grid__item form-grid__item one-half palm-one-whole" style="display:inline">
								<div class="form-group form-group--inline form-group--inline--tall" style="display:inline">
									<label for="profile-photo" style="display:inline" class="form-group__label" style="display:inline">Profile Photo</label>
									<div class="form-group__field" style="display:inline">
									
										<div class="grid" style="display:inline;margin-left:3px;">
											
											<div class="grid__item one-quarter" style="display:inline">
												<img src="https://d1w2poirtb3as9.cloudfront.net/default.jpeg" width="50" height="50" class="img--bordered img--circle img--flush">
											</div>
											
											<div class="grid__item three-quarters" style="display:inline">
												<input type="file" id="profile-photo" name="picture" ng-model="profile.picture" class="hidden">
												<label for="profile-photo" class="file-input btn-default">Set Picture</label>
											</div>
											
											
									
										</div>
									</div>
								</div>
							</div>
							
							<div class="grid__item form-grid__item one-half palm-one-whole" style="display:inline">
							
									<label for="profile-password" class="form-group__label" style="display:inline;margin-left:135px;margin-top:150px;">Password</label>
									
									<div class="form-group__field" style="display:inline">
										
										<div id="originalPassword" style="display:inline;" ng-show="password" >
											<div style="display:inline;margin-left: 5px">
											<input type="hidden" ng-init="profile.password='<%=result.c_password%>'">											<!-- 195 -->
											<input type="password"  ng-model="profile.password" class="text-input form-field--full" value="admin" style="width:260px" ></div>
											
											<!-- <a href="#"style="display:inline;margin-left:10px" ng-click="changePassword()">Change</a> -->
										</div>
										
										<!-- <div id="newPassword" style="display:inline;" ng-hide="password">
									
											<input type="password"  name="currentPassword" ng-model="profile.currentPassword" value="" placeholder="Current Password" autocomplete="off" class="text-input form-field--full form-fields__item" style="margin-left: 5px;width:260px">
											</br>
											<input type="password"  name="newPassword" ng-model="profile.newPassword" value="" placeholder="New Password"  autocomplete="off" class="text-input form-field--full form-fields__item" style="margin-left: 510px; width:260px" >
											</br>
											<input type="password"  name="confirm_newPassword" ng-model="profile.confirm_newPassword" value="" placeholder="Confirm Password"  autocomplete="off" class="text-input form-field--full form-fields__item" style="margin-left: 510px; width:260px" >
										
										</div> -->
										
									</div>
									
							</div>
					</div>
				</div>
				
				<div class="form-grid form-grid--bordered"  >
					<div class="grid">
						<div class="grid__item form-grid__item one-half palm-one-whole" style="display:inline">
							<div
								class="form-group form-group--inline form-group--inline--tall" style="display:inline">
								<label for="profile-photo" style="display:inline" class="form-group__label" style="display:inline">Address</label>
								<div class="form-group__field" style="display:inline">
									<div class="grid" style="display:inline;margin-left:25px;">
										<div class="grid__item one-quarter" style="display:inline">
										
											<input type="hidden" ng-init="profile.address='<%=result.c_address%>'">
										
											<input type="textarea" class="text-input form-field--full" style="width:75%;height: 70px;"ng-model="profile.address" value="101 Washington Square Hall" name="address" id="address" readonly>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					
					</div>
				</div>
				
				<div class="form-grid form-grid--bordered"  >
					<div class="grid">
						<div class="grid__item form-grid__item one-half palm-one-whole" style="display:inline">
							<div
								class="form-group form-group--inline form-group--inline--tall" style="display:inline">
								<label for="profile-photo" style="display:inline" class="form-group__label" style="display:inline">City</label>
								<div class="form-group__field" style="display:inline">
									<div class="grid" style="display:inline;margin-left:3px;">
										<div class="grid__item one-quarter" style="display:inline">
										
											<input type="hidden" ng-init="profile.city='<%=result.c_city%>'">
										
											<input type="text" style="width: 168px; margin-left:48px"  class="text-input form-field--full" value="San Jose" ng-model="profile.city" name="city" id="city" readonly>
										</div>
									</div>
									
								</div>
								
								<label for="profile-photo"  class="form-group__label" style="display:inline">State</label>
								<div  class="form-group__field" style="display:inline;">
									<div class="grid" style="display:inline">
										<div class="grid__item one-quarter" style="display:inline">
											
											<input type="hidden" ng-init="profile.state='<%=result.c_state%>'">
										
											<input type="text" style="width: 155px;"class="text-input form-field--full" value="CA" ng-model="profile.state" name="state" id="state" readonly>
										</div>
									</div>
									
								</div>
								
								<label for="profile-photo" style="display:inline" class="form-group__label" >Zipcode</label>
								<div class="form-group__field" style="display:inline">
									<div class="grid" style="display:inline">
										<div class="grid__item one-quarter" style="display:inline">
										
											<input type="hidden" ng-init="profile.zipcode='<%=result.c_zipcode%>'">
										
											<input type="text" style="width: 168px;" class="text-input form-field--full" value="95112" ng-model="profile.zipcode" name="zipcode" id="zipcode" readonly>
										</div>
									</div>
									
								</div>
								
								
							</div>
						</div>
					
					</div>
				</div>
				
				<!-- <button type="button" ng-click="updateProfile(profile)" style="margin-top:20px;margin-left:300px;margin-top: 10px;margin-bottom: 10px" class="btn btn--large btn--full btn--primary">
					<span class="btn-loader collapse" id="profile-form-loader">
						<span class="icon icon_spinner alpha"></span>
					</span>
					<span style="font-size: 15px">Update Profile</span>
				</button>	 -->
		
		</form>
		
		</div>
	</div>