<div class="col-md-7" style="background-color: white; padding-top : 1cm;  border-right: 1px solid; border-color:#e1eaea" >
		<h3><div align="center"><b>Search Driver</b></div></h3>
				<br><br>
				  	<label><input type="text" class="form-control" size="70" placeholder="Search for driver based on any attributes " ng-model="searchText"></label>
				 <div class="table-responsive">   				    
				    
					  <table class="table">
					    <thead>
					      <tr>
					        <th>Driver Name</th>
					        <!-- <th>  Driver Rating</th> -->
					        <th>  Driver Delete</th>
						   </tr>
					    </thead>
  					<tbody ng-repeat = 'result in results.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchText '>
					      <tr>
					       
					        <td><a href="/showdriverdetails/{{result.d_id}}">{{result.d_firstname + " " +  result.d_lastname }}</a></td>
					        <!-- <td> <div star rating-value={{result.rating}} max=5 readonly="{{readonly}}"></div></td>
					        <td> <div star rating-value={{result.rating}} max=5 readonly="{{readonly}}" on-rating-selected="rateFunction(rating)"></div></td> -->
					    	 <td><button ng-click="denyDriver(result.d_id)"  class="btn btn-danger">Delete Driver</button></td>
					      </tr> 
					    
					    </tbody>
					  </table>  
					  
  	<div style= "float : right;display: inline;color:gray;border-style: inset;" >				  
     View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)" style="color:blue"><option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select> records at a time.
	
	</div>
	<div style= "float : left;display: inline">				  
     
	<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
	</div>
	</div>
</div>

<style>
.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}
ul.rating {
  display: inline-block;
}
.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.rating .filled {
  color: #ffee33;
}
</style>