<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<!-- importing external css -->


<title>
    
  LogIn

  </title>

<link rel='stylesheet' href='/css/login.css' />
  <link rel="shortcut icon" href="/img/uber.ico" />

</head>
<body >
<article class="signin-content">
      <p class="center">
        <a href="#" class="logo">Uber</a>
      </p>

      <p class="login_font uppercase center border-center">
        <span>
          Log In
        </span>
      </p>
<br>
      <div class="div_class">
        <div class="submit">
          <div >
            <a href="/logInCustomer">
              <input type="button" value="LOG IN AS A RIDER" class="btn btn-filled uppercase">
            </a>
          </div>
          <br>
          <div>
            <a href="/logInDriver">
              <input type="button" value="LOG IN AS A DRIVER" class="btn uppercase btn-driver">
            </a>
          </div>
        </div>
      </div>

    </article>
</body>
</html>